<!DOCTYPE html>
<html translate="no">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Help</title>

	<link href="www/vendor/bootstrap-5.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

	<div class="container-fluid">
		<h1>Index</h1>
		<ul>
		{{range .Commands}}
			<li><a href="#{{.FullMethodName}}">{{.FullMethodName}}</a></li>
		{{end}}
		</ul>

		<h1>Commands</h1>
		{{range .Commands}}
			<h3 id="{{.FullMethodName}}">{{.FullMethodName}}</h3>
			{{if .Parameters}}
				<p>Parameters ({{.Parameters}})</p>
			{{else}}
				<p>No parameters</p>
			{{end}}
			<p>{{.Description}}</p>
			<hr>
		{{end}}
	</div>
	
</body>
</html>